@using System.Numerics
@using System.IO
@using SeeSharp.Geometry
@using TinyEmbree

@if (previewImageData != null) {
    <div class="probe-container" @onclick="UpdateProbePixel" style="width: @(Width)px; height: @(Height)px;">
        <div class="probe-marker" style="left: @(ProbePixelX)px; top: @(ProbePixelY)px;"></div>
        <img class="probe-image" src="data:image/png;base64,@previewImageData"/>
    </div>

    @if (probePoint) {
        <button @onclick="PickBehind">Pick behind</button>
    }
}

@code {
    [Parameter]
    public string PreviewFile {
        get {
            return previewFile;
        }
        set {
            previewFile = value;
            var bytes = File.ReadAllBytes(previewFile);
            previewImageData = Convert.ToBase64String(bytes);
        }
    }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public int Height { get; set; }

    [Parameter]
    public string PreviewImageBase64 {
        get {
            return previewImageData;
        }
        set {
            previewImageData = value;
        }
    }

    string previewFile;
    protected string previewImageData;

    [Parameter]
    public SeeSharp.Scene Scene { get; set; }

    public delegate Task OnClickAction(int col, int row, Ray ray, SurfacePoint hit);

    [Parameter]
    public OnClickAction OnClick { get; set; }

    protected int ProbePixelX { get; set; }
    protected int ProbePixelY { get; set; }

    SurfacePoint probePoint;
    Ray probeRay;

    async Task FindPoint() {
        await Task.Run(() => {
            probePoint = Scene.Raytracer.Trace(probeRay);
            if (!probePoint)
                System.Console.WriteLine("Probe ray left scene!");
        });

        if (OnClick != null && probePoint)
            await OnClick(ProbePixelX, ProbePixelY, probeRay, probePoint);
    }

    async Task PickBehind() {
        probeRay = Raytracer.SpawnRay(probePoint, probeRay.Direction);
        await FindPoint();
    }

    protected async Task UpdateProbePixel(MouseEventArgs e) {
        ProbePixelX = (int)e.OffsetX;
        ProbePixelY = (int)e.OffsetY;

        var rng = new SeeSharp.Sampling.RNG(0);
        probeRay = Scene.Camera.GenerateRay(
            new Vector2(ProbePixelX, ProbePixelY),
            ref rng
        ).Ray;

        await FindPoint();
    }
}