@inherits ProbeImage

@{
    base.BuildRenderTree(__builder);
}

@if (previewImageData != null) {
    <p style="margin-bottom: 0;">
        <label>Yaw
        <input style="width: 40px;" type="number" @bind="Yaw"/>
        </label>

        <label>Pitch
        <input style="width: 40px;" type="number" @bind="Pitch" />
        </label>
    </p>
}
